<div id="<%= dom_id school %>">
  <p>
    <strong>School name:</strong>
    <%= school.school_name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= school.region_id %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= school.province_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= school.city_id %>
  </p>

</div>
