<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scholarship Application</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #fff;
      margin: 0;
      padding: 0;
    }
    section {
      margin: 16px
    }
  </style>
</head>
<body>
  <section class="container">
    <p>Dear <%= @provider_name %>,</p>
    <p><%= @user_message %></p>
    <p>Best regards,<br>
       <%= @student_name %><br>
       <%= @student_email %>
    </p>
  </section>

  <hr>

  <section>
    <p><%= @promotional_message.html_safe %></p>
    <p>Click <a href="<%= @url %>"><%= @url %></a> for more details</p>
  </section>
  
  <section>
    <p>For any inquiries, please contact us at scholaris-support@sence1.com</p>
  </section>  
</body>
</html>
