<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scholarship Application</title>
</head>
<body>
  <p>Dear <%= @provider_name %>,</p>
  <p><%= @user_message %></p>
  <section>
    <p>Best regards,<br>
       <%= @student_name %><br>
       <%= @student_email %>
    </p>
  </section>
  <hr>
  <p><%= @promotional_message.html_safe %></p>
  <p>You may reach out to <%= @student_name %> through <%= @student_email %> or by replying to this email.</p>
  <p>Thank you.</p>
  <hr>
  <section>
    <p>Let's work together to bridge gaps between students and education. To start your journey with us, sign up through the link below:<br>
       <a href="https://scholaristest.sence1.com/sign-up">Sign up for Scholaris</a>
    </p>
  </section>
  <section>
    <p>To learn more about Scholaris, visit us at: <a href="https://scholaristest.sence1.com">https://scholaristest.sence1.com</a></p>
  </section>
</body>
</html>
